*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: #0c2c85;
    max-width: 1200px;
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px;
    place-items: center;
    margin: 0 auto;

}
.box{
    color: aqua;
    background: #960000;;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
}